extends layout
block content
  form(action="/login" method="post")
    h2  username
    input(name="username" type=text)
    h2 password
    input(name="password" type=text)
    br
    button log me in
