extends layout
block content
  h1 Please Register for our app!
  br
  form(action="/register", method="post")
    h2 username
    input(type="text", name="username")
    h2 password
    input(type="text", name="password")
    br
    button submit that $#!+
